<ion-content [fullscreen]="true">
  <div
    id="full"
    style="
      background-image: linear-gradient(to bottom, #30942c, #30942c),
        url('/../assets/passer.webp');
    "
  >
    <div class="texte">
      <h1>
        Votre médoc <br />
        en un clic
      </h1>

      <p>
        Trouver une pharmacie proche <br />
        de chez vous rapidement
      </p>
      <p class="hidden">
        Trouvez une pharmacie proche <br />
        de chez vous rapidement
      </p>
      <ion-button routerLink="/welcome">Passer</ion-button>
    </div>
  </div>
</ion-content>
