<ion-header class="ion-no-border">
  <ion-toolbar
    ><ion-icon size="large" slot="start" name="chevron-back-outline"
    routerLink="/inscription"></ion-icon
  >
 
    <h2 >Saisissez le code reçu</h2>
  
</ion-toolbar>

</ion-header>





<ion-content class="ion-padding" [fullscreen]="true">

  <div class="contenu-pattern-1">

  <div id="img-suivant1">

    <img src="/../assets/logo.png" alt="" />

   
  </div>
  
  <!-- <p>
    Entrer le code à 5 chiffres qui a été envoyé au
    <span class="strong"> 6755767653457 </span>
  </p> -->
  <div class="otp">
    <ng-otp-input 
      (onInputChange)="otpValue($event)"
      [config]="{length:4, allowNumbersOnly:true, placeholder: '', inputStyles : {'width' : '60px', 'height' : '40px', 'border-radius' : '4px', 'background' : 'white', }, inputClass: 'input', containerClass: 'otpcontainer'}"
    ></ng-otp-input>
    
    <ion-button id="connexion1" size="small" expand="block"  > <h6>Vérifier</h6></ion-button>
  </div>
</div>

</ion-content>
