<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header> -->
<ion-content [scrollY]="false" >

  <div class="contenu-pattern">
    <div id="img-welcome1">

      <img src="/../assets/logo.png" alt="" />
  
      <div class="text-welcome1">
  
        <h2>Votre allié santé au quotidien </h2>
        <p> Connectez-vous et prenez soin de <br>vous, partout, à tout moment.</p>
    
      </div>
  
    </div>
    
   
  
   

  </div>
  
   
 
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="button-welcome1">
      <ion-button size="small" id="button-std-2" routerLink="/register">
        <h6 style="color: black;">S'inscrire</h6>
      </ion-button>
      <ion-button size="small" id="button-std"  routerLink="/login">
        <h6 >Se connecter</h6>
      </ion-button>
     
    </div>
   
  </ion-toolbar>
</ion-footer>
