<ion-header >
  <ion-toolbar>
   <ion-icon slot="start" name="arrow-back" size="large" routerLink="/tabs/tab4"></ion-icon>
   <ion-title>À propos de Lekki</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">

  <p>Lekki est une solution digitale qui vise à faciliter l’accès aux produits de soin dans les zones urbaines et rurales sur toute l'étendue du territoire guinéen, à n’importe quel moment, dans une sécurité absolue des produits transportés et des consommateurs.</p>
  <p>Notre plateforme vise à combler le fossé entre les besoins de soins personnels et la disponibilité des produits, en offrant une gamme diversifiée de produits de qualité. Que vous soyez en ville ou dans des régions plus éloignées, notre solution digitale garantit l'accessibilité aux produits de soin essentiels. </p>
`
    Nous accordons une priorité absolue à la sécurité des produits transportés, en mettant en place des protocoles stricts tout au long de la chaîne logistique. Les consommateurs peuvent ainsi avoir confiance en la qualité et l'intégrité des produits qu'ils commandent via notre plateforme.
    
    <p>Chez Lekki, nous nous engageons à soutenir les communautés urbaines et rurales en offrant un accès facile aux produits de soin, contribuant ainsi à l'amélioration du bien-être de nos utilisateurs. Notre vision est de créer une expérience d'achat en ligne sans souci, où la commodité, la qualité et la sécurité sont au cœur de chaque transaction. </p>
    
   <p>Que vous recherchiez des produits de soin quotidien, des articles de bien-être ou des produits spécialisés, Lekki est là pour répondre à vos besoins. Explorez notre plateforme dès aujourd'hui et découvrez une nouvelle façon pratique et sécurisée d'accéder à vos produits de soin préférés. </p> 
</ion-content>
