<ion-header class="ion-no-border">
  <ion-toolbar
    ><ion-icon slot="start" (click)="Back()" name="chevron-back-outline"></ion-icon
  >
  <ion-title >
    <h2>Se connecter</h2>
  </ion-title>
</ion-toolbar>

</ion-header>


<ion-content [fullscreen]="true">

  <div class="contenu-pattern">
    <div id="img-suivant1">

      <img src="/../assets/logo.png" alt="" />
  
     
    </div>
    
      <form  [formGroup]="section1">
        <div class="button-suivant1">
  
       
          <div class="entree1">
              <ion-input type="text" formControlName="numero" placeholder="Numéro de téléphone"></ion-input>
            
          </div>
  
        <ion-button
        id="button-std"
         size="small"
          (click)="Login()"
          *ngIf="typeOfLogin=='numero'"
          [disabled]="!section1.valid"
          ><h6>Se connecter</h6></ion-button
        >
      
      </div>
      </form>
    

  </div>

 
 
</ion-content>
     
     
    

